/*.navbar-header button.navbar-toggle, .navbar-header .icon-bar {*/
    /*border: 1px solid #61122f;*/
/*}*/
body{
    background-color: white;
}

h1{
    color: black;
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
}
.navbar-header h1{
    margin-left: 10px;
}
#collapsable-nav{
    margin-bottom: -15px;
}
nav#header-nav{
    background-color: gray;
    border-radius: 0;
    border: 0;
}
.navbar-toggle{
    margin-right: 25px;
}
#navlist{
    margin-bottom: 0;
}
#nav-list > li{
    text-align: center;
    border-bottom: solid 1px black;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

#nav-list a{
    color: black;
    text-decoration: none;

}

.navbar-toggle{
    margin-top: -40px;
    clear: both;
}

.detail-section{

    margin-top: 15px;
    /*background-color: darkgray;*/

}
section.detail-section{
    padding-right: 0;
    padding-left: 0;
}
.inner-section{
    background-color: darkgray;
    margin-right: 10px;
    margin-left: 10px;
}

.sub-title{
    padding-top: 5px;
}
.content-details{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}